<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Todo #{{ todo.id }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Replace {{ todo.task }} with:</h1>

    <form action="{{ url_for('edit', todo_id=todo.id) }}" method="post">
        <label>
            <input type="text" name="task" required>
        </label>
        <input type="submit" value="Submit">
    </form>
    <br>
    <h1>Change date to:</h1>

    <form action="{{ url_for('edit', todo_id=todo.id) }}" method="post">
        <label>
            <input type="date" name="date" required>
        </label>
        <input type="submit" value="Submit">
    </form>
</body>
</html>